#pic_show.row.my-4
	.col-md-6.col-md.offset-3
		.panel.panel-default
			.panel-heading.pic_image
				= image_tag @pic.image.url

			.panel-body
				%h1= @pic.title
				%p= @pic.description

			.panel-footer
				.row
					.col-md-6
						%p.user
							by
							= @pic.user.email

					.col-md-6
						.btn-group.pull-right
							= link_to like_pic_path(@pic), method: :put, class: "btn btn-warning text-dark" do
								%i.far.fa-thumbs-up
								= @pic.get_upvotes.size

							- if user_signed_in?
								= link_to 'Edit', edit_pic_path, class: "btn btn-info"
								= link_to 'Delete', pic_path, method: :delete, data: { confirm: "Burn it to the ground?"}, class: "btn btn-danger"

					%br

					.div.col-md-6          
            
						- @pic.comments.take(20).each do |comment| 
							.div.row
								%p.strong
								= comment.description 
								&nbsp;
								= comment.user.email

							- if signed_in? && (current_user == comment.user || current_user == @pic.user)
								= link_to 'Delete Comment', "/pics/#{@pic.id}/comments/#{comment.id}", method: :delete, data: { confirm: "Are you sure?" }

										
						- @comment = Comment.new
						- @comment.pic_id = params[:pic_id] 

						%br
						%br
						= simple_form_for [@pic, @comment], url: pic_comments_path(@pic) do |f| 
							= f.input :description, placeholder: "Add a comment", input_html: { class: 'form-control' }
							= f.button :submit, class: "btn btn-primary"
				